<div class="carousel">
  <ng-container *ngFor="let slideContent of text; let i = index">
    <mat-card
      *ngIf="i === currentSlide"
      class="slide"
      @carouselAnimation
    >
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>

      <div class="content">
        <ng-container
          [ngTemplateOutlet]="contentTemplate || defaultContentTemplate"
          [ngTemplateOutletContext]="{ $implicit: slideContent}"
        ></ng-container>

      </div>

      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
    </mat-card>
  </ng-container>
</div>

<ng-template #defaultContentTemplate let-slideContent>{{ slideContent }}</ng-template>
