.about-container {
  padding: 50px 0;
  margin: auto;

  h1 {
    font-size: 28px;
    text-align: center;
    margin: 50px 0 40px;
  }

  img {
    display: flex;
    height: 250px;
    margin: auto;
    padding-bottom: 50px;
  }
}

.mat-card {
  .mat-card-title {
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}
