@import "src/styles";

.services-container {
  width: 80%;
  margin: auto;
  padding: 50px 0;

  h1 {
    font-size: 28px;
    text-align: center;
    margin: 50px 0;
  }

  .mat-card {
    margin-bottom: 40px;
  }

  .mat-card-title {
    margin-bottom: 14px;
  }

  .mat-card-subtitle {
    margin-bottom: 10px;
  }
}

.services-description {
  text-align: center;
  font-size: 18px;
  padding-bottom: 50px;
}
