<div>
  <mat-toolbar-row class="byline">
    Partnering with families to find the best-fit college at the right price
  </mat-toolbar-row>
  <div class="campus">
    <mat-card class="overlay">
      <mat-card-content>{{ pitch }}</mat-card-content>
      <mat-card-actions class="actions">
        <a mat-button [routerLink]="'/services'">Learn more about what we offer</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="section-container" [class]="(breakpointService.isScreenXS$ | async) ? 'columns' : ''">
    <div class="personal-info" [class]="(breakpointService.isScreenXS$ | async) ? 'spacing' : ''">
      <img src="http://www.dewilliscollegeadmissions.com/images/sharon.jpg" alt="Headshot of Sharon DeWillis" class="headshot"/>
      <h3>Sharon DeWillis</h3>
      <img
        src="/assets/ieca.jpg" alt="Independent Educational Consultants Association, Professional Member"
        [class]="(breakpointService.isScreenTabletPortrait$ | async) ? 'membership-small' : 'membership-large'"/>
    </div>
    <app-testimonials-carousel class="carousel"></app-testimonials-carousel>
  </div>
</div>
